# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://user:password@localhost:5556/database"
NODE_ENV=development
PORT=6001
REDIS_URL=redis://localhost:6380
SESSION_SECRET="A víte, jak dělá pes?
                Ne
                Zezadu, vole
                MC Gey, DJ Fatte, budou řikat vtipy
                Vypij čtyři litry mlíka s třešněma a zkontroluj si slipy
                Kdyby byly čistý, tak jseš v pohodě
                Kdyby byly hnědý, tak jseš od hoven
                Pod stolem je místo, na to aby ses moh schovat
                Sundat gatě a popřípadě se posrat znova
                Nechci propagovat tenhleten styl humoru
                Co mám ale dělat, když sem se včera posral u stolu
                Mít trochu fosforu, tak osvítím tenhleten prostor
                S rostoucí náladou lidí úsměvy rostou
                Hejbni kostrou, vostrouhej čtyři sta brambor
                Dokud můžeš vostrou škrabkou
                Važ si toho, že si zdravej a že můžeš hejbat rukou
                Levou a taky pravou"